@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* For light mode */
pre, code {
  background-color: #f5f5f5;
  color: #111;
  padding: 0.5rem;
  border-radius: 0.375rem;
  display: block;
  overflow-x: auto;
}

/* For dark mode */
.dark pre, .dark code {
  background-color: #1e1e1e; /* dark background */
  color: #e2e8f0;           /* light text */
}

